h1 {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  margin: 5px;
  font-size: 90px;
  color: #800000;
  letter-spacing: 15px;
  text-shadow: 4px 4px 2px #ffd700;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #AAA3B4;
}
main {
  display: flex;
  flex-direction: row;
  height: 600px;
  background-color: #AAA3B4;
}

.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 350px;
}

.cell {
  width: 8%;
  height: 8%;
  border: 1px solid #000000;
  margin: 0;
  background-color: #000000;
}

.tetrimino {
  background-color: #dabc12;
  box-shadow: inset 3px 3px 2px #e4e3e3, inset -3px -3px 2px #504f4f;
}
.stopped {
  background-color: #463848;
  box-shadow: inset 4px 4px 4px #e7e5e5, inset -15px -15px 15px #463848;
}
.score {
  align-self: flex-end;
  width: 100px;
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  background-color: #000000;
  color: #97e622;
}
p {
  width: 250px;
  font-family: 'Special Elite', cursive;
  padding: 10px 5px;
  margin: 0 auto 0 20px;
  font-size: 20px;
  color: #AAA3B4;
  background-color: #000000;
}
.scoreboard {
  display: flex;
  justify-content: space-between;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 330px;
  background-color: #000000;
  letter-spacing: 2px;
  line-height: 24px;
}
button {
  height: 50px;
  width: 300px;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  color: #ffd700;
  font-size: 30px;
  background-color: #800000;
  letter-spacing: 5px;
}
.button:hover {
  cursor: pointer;
  color: #800000;
  background-color: #ffd700;
}
.space {
  background-color: #5a5363;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 10px 5px;
  font-size: 12px;
  letter-spacing: 2px;
  border-radius: 3px;
  box-shadow: inset 2px 5px 10px #e4e3e3, inset -3px -3px 2px #504f4f;
}
.done {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 75%;
  width: 320px;
  position: fixed;
  z-index: 10;
  opacity: 0.9;
  background-color: #463848;
}
.loser {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  color: #ffd700;
  font-size: 40px;
  letter-spacing: 5px;
}
.done p {
  margin: 0 auto;
}
.again:hover {
  cursor: pointer;
  color: #800000;
  background-color: #ffd700;
}