body {
  background-color: #808080;
}

.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.cell {
  width: 10%;
  height: 10%;
  border: 1px solid #000000;
  margin: 0;
}

.tetrimino {
  background-color: #000000;
}
.stopped {
  background-color: #ff0000;
}