h1 {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  margin: 5px;
  font-size: 90px;
  color: #800000;
  letter-spacing: 15px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #808080;
}
main {
  display: flex;
  flex-direction: row;
  height: 600px;
  background-color: #808080;
}

.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 350px;
}

.cell {
  width: 8%;
  height: 8%;
  border: 1px solid #000000;
  margin: 0;
  background-color: #000000;
}

.tetrimino {
  background-color: #dabc12;
  box-shadow: inset 3px 3px 2px #e4e3e3, inset -3px -3px 2px #504f4f;
}
.stopped {
  background-color: #463848;
  box-shadow: inset 3px 3px 3px #e7e5e5, inset -3px -3px 3px #141414;
}
.score {
  align-self: flex-end;
  width: 100px;
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  background-color: #000000;
  color: #97e622;
}
p {
  width: 300px;
  font-family: 'Special Elite', cursive;
  padding: 15px 5px;
  font-size: 20px;
  color: #AAA3B4;
  background-color: #000000;
}
.scoreboard {
  display: flex;
  justify-content: space-between;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  background-color: #000000;
  letter-spacing: 2px;
  line-height: 24px;
}
button {
  height: 50px;
  width: 300px;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  color: #ffd700;
  font-size: 30px;
  background-color: #800000;
  letter-spacing: 5px;
}
.button:hover {
  cursor: pointer;
  color: #800000;
  background-color: #ffd700;
}